 body {
     font-family: 'Open Sans', sans-serif;

 }

 header {
     justify-content: center;

 }

 .header-content {
     margin: 30px auto;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 600px;
     width: 1320px;
     background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
     background-repeat: no-repeat;
     border-radius: 16px;
     /* background: linear-gradient(45deg, #070211 0%, rgb(90, 76, 118) 100%);  */
 }

 .new {
     text-align: center;
     color: #FFF;
     font-size: 32px;
     font-weight: 400;
 }

 .party {
     margin-top: 5px;
     text-align: center;
     color: #FFF;
     font-size: 72px;
     font-weight: 900;
     line-height: 95px
 }

 .off {
     text-align: center;
     color: #F00;
     font-size: 88px;
     font-weight: 700;
 }

 .our {
     margin-top: 48px;
     text-align: center;
     color: #F00;
     font-size: 24px;
     font-weight: 500;
 }

 .all {
     margin-top: 16px;
     color: #070211;
     text-align: center;
     font-size: 48px;
     font-weight: 700;
 }

 .year {
     display: block;
     margin: auto;
 }

 .header-section-h2 {
     margin-left: 126px;
     margin-top: 126px;
     width: 642px;
     color: #FFF;
     font-size: 64px;
     font-weight: 900;
     line-height: 88px;
     letter-spacing: 7.04px;
 }

 .header-section-p {
     margin-left: 126px;
     margin-top: 10px;
     color: rgba(255, 255, 255, 0.80);
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
 }

 .btn-primary {
     margin-left: 150px;
     color: #FFF;
     text-align: left;
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
 }

 .image {
     width: 319.83px;
     height: 464.662px;
 }

 .header-section {
     border-radius: 16px;
     display: flex;
     /* flex-direction: column; */

     justify-content: left;
     align-items: center;
     margin: 30px auto;
     background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
     background-repeat: no-repeat;
     height: 600px;
     width: 1320px;
 }

 .container-mid {
     background-color: navajowhite;
     margin-top: 120px;
     /* background-color:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
     margin-left: 100px;
     margin-right: 50px;
     margin-bottom: 90px;
     padding: 100px;
     text-align: center;
     /* width: 1320px; */
     height: 482px;
     /* color: navajowhite;   */

 }

 .text-primary1 {
     color: #F00;
 }

 .text-primary2 {
     color: #F00;
 }

 .text-primary3 {
     color: #F00;
 }

 h1 {
     font-size: 32px;
 }

 .btn {
     margin-top: 48px;
     color: #FFF;
     border-radius: 8px;
     background: #F00;
     border: 0;
     font-size: 20px;
     font-weight: 700;
     padding: 16px 32px;
 }

 .section-container1 {
     color: #F00;
     font-size: 24px;
     font-weight: 500;
 }

 .section-container2 {
     margin-top: 16px;
     color: #070211;
     font-size: 48px;
     font-weight: 900;
 }

 .section-container3 {
     margin-top: 20px;
     color: rgba(7, 2, 17, 0.60);
     font-size: 20px;
     font-weight: 400;
     line-height: 32px;
 }

 .section-mid1 {
     color: #F00;
     font-size: 48px;
     font-weight: 700;
 }

 .section-mid2 {
     margin-top: 16px;
     color: rgba(7, 2, 17, 0.60);
     font-size: 20px;
     font-weight: 400;
     line-height: 32px;
 }

 .offer-class {
     display: flex;
     justify-content: space-between;
     width: 1320px;
     margin-top: 120px;
     margin: 0 auto;
 }

 .section-container {
     gap: 70px;
 }

 .mid-picture {
     gap: 128px;
     border-radius: 50%;

 }
 
 .mid-come{
    border: 10px solid red; 
    border-radius: 100%;
    padding: 10px;
 }

 .product-title1 {
     color: #F00;
     font-size: 24px;
     font-weight: 500;


 }

 .product-title2 {
     color: #070211;
     font-size: 48px;
     font-weight: 900;
     margin-top: 16px;

 }

 .product-title3 {
     color: rgba(7, 2, 17, 0.60);
     font-size: 20px;
     font-weight: 400;
     line-height: 32px;
     margin-top: 22px;
 }

 .all-items {
     width: 1320px;
     margin-top: 120px;
     margin: 0 auto;
 }

 .discount {
     text-align: center;
 }

 .discount1 {
     color: #070211;
     font-size: 24px;
     font-weight: 500;

 }

 .discount2 {
     margin-top: 16px;
     color: #070211;
     font-size: 72px;
     font-weight: 900;

 }

 .discount3 {
     margin-top: 22px;
     color: rgba(7, 2, 17, 0.60);
     font-size: 20px;
     font-weight: 500;
     line-height: 32px;
 }

 .holi {
     color: #F00;
     font-size: 72px;
     font-weight: 900;
 }

 .imgForwardTop {
     margin-top: -300px;
 }

 .imgUpFromAnother {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     z-index: -10;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 63px;
     width: 1350px;
     /* margin-bottom: 100px; */
 }

 .forwardLeft {
     margin-left: -300px;
 }

 .upToRectange1 {
     position: relative;
     z-index: 1;
     inset: -140px;
    
     top: 25px;
 }

 .holidaySection {
     display: flex;
     gap: 58px;
     align-items: start;
 }

 .discountSection {
     display: flex;
     align-items: center;
 }


 .holiday {
     display: flex;
     align-items: center;
     justify-content: center;
     /* margin-bottom: 100px; */
 }


 .picture1 {
     display: flex;
     justify-content: space-between;
 }

 .picture2 {
     display: flex;
     justify-content: space-between;
     margin-top: 24px;
 }

 .user {
     border-radius: 50px 0px 0px 50px;
     /* border-radius: 50px; */
     background: #FFF;
     padding: 24px 56px;
     outline: none;
     border: none;

 }

 .user2 {
     border-radius: 0px 50px 50px 0px;
     background: #F00;
     color: #FFF;
     border: 0;
     font-size: 20px;
     font-weight: 700;
     padding: 24px 56px;
 }

 .last-section {
     width: 1320px;
     margin-top: 120px;
     margin: 0 auto;
     text-align: center;
     border-radius: 16px;
     background: rgba(255, 0, 0, 0.05);
     margin-top: 120px;
     padding: 100px 0px;

 }

 .last-section1 {
     color: #070211;
     font-size: 48px;
     font-weight: 900;
     margin-top: 40px;
 }

 .last-section2 {
     color: rgba(7, 2, 17, 0.60);
     font-size: 20px;
     font-weight: 400;
     margin-top: 22px;
 }

 .uses {
     margin-top: 48px;
     display: flex;
     gap: 0px;
     /* margin: 0px auto; */
     text-align: center;
     justify-content: center;
     align-items: center;

 }





 footer {
     background-color: #070211;
     padding: 140px 200px;
     margin-top: 120px;
 }

 .footer-column {
     display: flex;
 }

 .footer-column1 {
     color: #FFF;
     font-size: 24px;
     font-weight: 500;
     line-height: 40px;
 }

 .footer-column2 {
     color: #FFF;
     font-size: 24px;
     font-weight: 500;
     line-height: 40px
 }



 